<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ตรวจสอบรางวัล รายบุคคล</title>
</head>
<body>
    <div>
        <form action="/lot_show_3">
            <label>รหัสประจำตัวประชาชน</label>
            <input type="text" name="user_id" id="user_id">
        </form>
    </div>
</body>
</html>