<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lottery_3</title>
</head>
<body>
    <h1>Lottery_3</h1>
    <a href="/">กลับหนัาหลัก</a>
    <form action="/add_lot_3" method="post">
        <div>
            <label>รหัสประจำตัวประชาชน</label>
            <input type="text" name="user_id" id="user_id">
        </div>
        <div>
            <label>ชื่อ - นามสกุล</label>
            <input type="text" name="user_name" id="user_name">
        </div>
        <div>
            <label>คำอธิบายรางวัล</label>
            <input type="text" name="user_des" id="user_des">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>