<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Date Reward</title>
</head>
<body>
    <h1>Choose Date Reward</h1>
    <p>เลือกข้อมูลรางวัลที่จะดู</p>
    <div>
        <a href="/show_reward_1">วันที่ 16 มีนาคม 2565</a>
        <a href="/show_reward_2">วันที่ 1 เมษายน 2565</a>
        <a href="/show_reward_3">วันที่ 16 เมษายน 2565</a>
    </div>
</body>
</html>